@model ShopDunk.Models.Memory

@{
    ViewBag.Title = "Delete";
}

<h1 style="color: darkgreen; padding: 10px;text-align:center; background-color: lawngreen; border-radius: 10px; border: 2px solid lawngreen">BỘ NHỚ</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameMem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameMem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StorageMem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StorageMem)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input style="border: 1px solid red; padding: 5px; text-decoration: none;border-radius:5px;color:black" type="submit" value="Xóa" class="bg-info.bg-gradient" />
            <a class="bg-danger" href="@Url.Action("Index")" style="border: 1px solid red; padding: 5px; text-decoration: none;border-radius:5px;color:white">Danh sách</a>
        </div>
    }
</div>
