@model ShopDunk.Models.Battery

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Battery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Storage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Storage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameBat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameBat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BatID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
