@model IEnumerable<ShopDunk.Models.FrontCamera>

@{
    ViewBag.Title = "Index";
}

<h1 style="color: darkgreen; padding: 10px;text-align:center; background-color: lawngreen; border-radius: 10px; border: 2px solid lawngreen">CAMERA TRƯỚC</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDFCam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resolution)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="border:2px solid gray">
            <td>
                @Html.DisplayFor(modelItem => item.IDFCam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resolution)
            </td>
            <td>
                <span><a href="@Url.Action("Edit", new { id = item.IDFCam })" style="border: 1px solid black; padding: 5px; text-decoration: none;border-radius:5px;color:black">Sửa</a></span>
                <span><a href="@Url.Action("Delete", new { id = item.IDFCam })" style="border: 1px solid black; padding: 5px; text-decoration: none; border-radius: 5px; color: black ">xóa</a></span>
            </td>
        </tr>
    }

</table>
<p>
    <a class="bg-danger" href="@Url.Action("Create")" style="border: 1px solid red; padding: 5px; text-decoration: none;border-radius:5px;color:white">Thêm mới</a>
</p>